@font-face {
    font-family: 'semrigah';
    src: url('../fonts/Semringah.ttf');
  }
@font-face {
    font-family: 'lemon-juice';
    src: url('../fonts/Lemon_Juice.otf');
}
:root{
    --color-primario: #0f1c5f;
    --color-secundario: #cf7690;
    --color-terciario: #ebca55;
    --fuente-primaria: 'semrigah';
    --fuente-secundaria: 'lemon-juice';
}
/*globales*/
    h1,h2,h3,h4,h5,h6{
        font-family: var(--fuente-primaria);

    }
    h1{
        font-size: 2rem;
        font-weight: 700;
    }
    h2{
        font-size: 1.8rem;
        font-weight: 600;
    }
    h3{
        font-size: 1.6rem;
        font-weight: 500;
    }
    a{
        text-decoration: none;
        color: #ebca55;
    }
    a:hover{
        color: #cf7690;
    }
    body{
        margin: 0;
        padding: 0;
        font-family: var(--fuente-secundaria);
    }
/*Fin Globales*/

/*login*/
    .hero-login{
        width: 100%;
        height: 100vh;
        background-image: url('../img/banner-login.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        display: flex;
    }
    .hero-login .login{
        width: 35%;
        min-height: 60vh;
        background-color: rgba(255,255,255,.8);
        border-radius: 50px;
        margin: auto;
        padding: 20px; 
        display: flex;       
    }
    .hero-login .login form{
        margin: auto;
        width: 100%;
        text-align: center;
        font-size: 2rem;
    }
    .hero-login .login form .btn{
        border: 3px solid var(--color-secundario);
        margin-top:20px;
        font-size: 1.5rem;
    }
    .hero-login .login form .btn:hover{
        background-color: var(--color-secundario);
        color: var(--color-terciario);
        transition: 1s;
    }
    .hero-login .login form label{
        text-align: left;
        width: 100%;
        color: var(--color-primario);
    }
    .hero-login .login form input{
        background-color: rgba(235, 202, 85, .5);
        color: var(--color-primario);
        font-size: 1rem;
        border: 1px solid var(--color-primario);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .hero-login .login form input:focus{
        box-shadow: 0 0 0 0.15rem rgb(207, 118, 144);
        border: 1px solid var(--color-secundario);
    }
/*fin Login*/

/*Home*/
    .container-fluid{
        padding: 10px 20px;    
    }
    .col-4{
        padding: 10px;
    }
    .col-4 .img{
        height: 40vh;
        background-color: #f0f0f0;
    }
/*Fin Home*/