@font-face {
    font-family: 'semrigah';
    src: url('../fonts/Semringah.ttf');
  }
@font-face {
    font-family: 'lemon-juice';
    src: url('../fonts/Lemon_Juice.otf');
}
:root{
    --color-primario: #0f1c5f;
    --color-secundario: #cf7690;
    --color-terciario: #ebca55;
    --fuente-primaria: 'semrigah';
    --fuente-secundaria: 'lemon-juice';
}
/*globales*/
    h1,h2,h3,h4,h5,h6{
        font-family: var(--fuente-primaria);

    }
    h1{
        font-size: 2rem;
        font-weight: 700;
    }
    h2{
        font-size: 1.8rem;
        font-weight: 600;
    }
    h3{
        font-size: 1.6rem;
        font-weight: 500;
    }
    a{
        text-decoration: none;
        color: #ebca55;
    }
    a:hover{
        color: #cf7690;
    }
    body{
        margin: 0;
        padding: 0;
        font-family: var(--fuente-secundaria);
    }
    .row{
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    .error{
        margin: 20px 10px;
        font-size: 1rem;
    }
    .btn{
        border: 3px solid var(--color-secundario);
        margin-top:20px;
        font-size: 1.5rem;
    }
    .btn:hover{
        background-color: var(--color-secundario);
        color: var(--color-terciario);
        transition: 1s;
    }
/*Fin Globales*/

/*login*/
    .hero-login{
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        display: flex;
    }
    #form-login-desktop{
        margin: auto;
        width: 100%;
        text-align: center;
        font-size: 2rem;
    }
    #form-login-desktop .btn{
        border: 3px solid var(--color-secundario);
        margin-top:20px;
        font-size: 1.5rem;
    }
    #form-login-desktop .btn:hover{
        background-color: var(--color-secundario);
        color: var(--color-terciario);
        transition: 1s;
    }
    #form-login-desktop label{
        text-align: left;
        width: 100%;
        color: var(--color-primario);
    }
    #form-login-desktop input{
        background-color: rgba(235, 202, 85, .5);
        color: var(--color-primario);
        font-size: 1rem;
        border: 1px solid var(--color-primario);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    #form-login-desktop input:focus{
        box-shadow: 0 0 0 0.15rem #cf7690;
        border: 1px solid var(--color-secundario);
    }
    #desktop{
        display: block;
        min-height: 100vh;
        background-image: none;
    }
    #desktop .hero-login{
        background-image: url('../img/banner-login-desktop.jpg');
        background-position: top right;
    }
    @media(max-width: 768px){
        #mobile{
            display: block;
        }
        #desktop{
            background-image: url('../img/banner-login-desktop.jpg');
            background-position: top right;
            display: flex;
        }
    }
/*fin Login*/
    main{
        background: -webkit-gradient(linear, left top, right top, color-stop(46%, rgba(0, 192, 187, 0.2)), color-stop(78%, rgba(255, 80, 79, 0.2)));
        background: linear-gradient(90deg, rgba(0, 192, 187, 0.2) 46%, rgba(255, 80, 79, 0.2) 78%);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main .container{
        border-radius: 30px;
        background-color: transparent;
        background-image: url('../img/banner-register.png');
        background-position: bottom right;
        background-size: cover;
        padding: 100px;
        -webkit-box-shadow: 1px 3px 14px -2px rgba(0,0,0,0.74); 
        box-shadow: 1px 3px 14px -2px rgba(0,0,0,0.74);
    }
    main .container h2{
        color: #f0f0f0;
        text-align: center;
    }
    main .container label{
        font-size: 1.5rem;
        color: #fff;
    }
    main .container #form-register input{
        color: var(--color-primario);
        font-size: 1rem;
        border: none; 
        border: 1px solid #fff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    main .container #form-register input:focus{
        box-shadow: 0 0 0 0.15rem #cf7690;
        border-bottom: 1px solid var(--color-secundario);
    }
    #form-register .btn{
        margin-top:20px;
        font-size: 1.5rem;
        background-color: #f0f0f0;
        color: var(--color-secundario);
    }
    #form-register .btn:hover{
        background-color: var(--color-secundario);
        color: var(--color-terciario);
        transition: .5s;
    }
/*Inicio register*/

/*Fin register*/

/*Home*/
    .container-fluid{
        padding: 10px 20px;    
    }
    .img{
        height: 35vh;
        background-color: #f0f0f0;
        margin: 10px auto;
        width: 100%;
    }
    .img div{
        width: fit-content;
        height: max-content;
        margin: auto;
        
    }
    .img h1{
        margin: auto;
        width: fit-content;
        color: rgba(0, 0, 0, .2);
        font-size: 5rem;
    }
    .navbar{
        height: fit-content;
        background-color: #cf7690;
        padding: 10px;
    }
    .navbar-brand{
        width: 100px;
    }
    .navbar-collapse{
        flex-grow: 0;
    }
    .navbar ul li a{
        font-size: 1.5rem;
        color: var(--color-terciario);
    }
    .navbar ul li a.disabled{
        color: var(--color-terciario)!important;
    }
    .hero{      
        background-position: center;
        background-size: cover;
    }
    #exit:hover{
        cursor: pointer;
    }
    
/*Fin Home*/

.spinner {
    width: 40px;
    height: 40px;
  
    position: relative;
    margin: auto;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-secundario);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }